@import 'normalize.css';

@import 'fonts.css';

.outer{

}
.inner{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	position: relative;
}
.header {
	width: 100%;
	height: 82px;
	justify-content: center;
	box-sizing: border-box;
}
	.logo-span{
		font-family: ProximaNova;
		font-weight: bold;
		font-size: 15px;
		text-transform: uppercase;
		font-style: italic;
		display: block;
		box-sizing: border-box;
		padding-left: 2px;
	}
	.header-logo{
		flex: 1;
		padding-top: 7px;
		line-height: 15px;
	}
	.header__nav{
		flex: 3;
		padding-top: 16px;
	}
		.header__nav-menu{
			display: flex;
			list-style: none;
			padding-inline-start: 0px;
			position: relative;
			right: 10px;
			}
			.header__nav-menu-item{
				flex-basis: auto;
				font-family: ProximaNova;
				font-size: 16px;
				display: inline;
				text-decoration: none;
			}
			.header__nav-menu-item:hover{
				padding: 20px;
				background: #000;
				color: #ffc800;
				border-radius: 5px;
				transition: 0.5s;
				text-decoration: underline;
				font-weight: bold;
			}
			.header__nav-menu-item-dash{
				width: 60px;
				box-sizing: border-box;
				text-align: center;
			}
	.header-phone{
		flex: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-phone-wrapper{
		display: flex;
	}
		.header-phone-image{
			position: relative;
			top: 1px;
		}
		.header-phone-number{
			font-family: ProximaNova;
			font-size: 18px;
		}
		.header-phone-null{
			flex-basis: 41px;
			flex: auto;
			height: 100%;
		}
		.header-phone-button{
			border: none;
			border-radius: 0px;
			flex-basis: 138px;
			height: 30px;
		    background-color: rgb(255, 255, 0);
		    font-family: ProximaNova;
			font-size: 14px;
			padding: 6px 15.5px;
		}
@media(max-width: 992px){
	.inner{
		height: 51px;
	}
    .header-burger__menu {
        position: relative;
        width: 50px;
        height: 50px;
        display: block;
        margin-right: 5px;
    }
    .header-burger__menu-content, .header-burger__menu:after, .header-burger__menu:before{
	    height: 5px;
	    width: 100%;
	    margin: 0 auto;
	    position: absolute;
	    background-color: rgb(255, 255, 0);
    }
    .header-burger__menu-content{
    	top: 22.5px;	
    }
    .header-burger__menu:after, .header-burger__menu:before{
    	content: '';
    }
    .header-burger__menu:after{
    	bottom: 3px;
    }
    .header-burger__menu:before{
    	top: 3px;
    }
    .header-logo{
		transform: scale(0.7);
		line-height: 15px;
		flex: none;
		padding-top: 0;
		position: relative;
		top: -10px;
		left: -5px;
	}
	.header {
    	height: 51px;
	}
	.header__nav{
		display: block;
		position: absolute;
	    top: 52px;
	    right: 0;
	    background: rgb(245, 246, 246);
	    box-shadow: #ccc;
	    width: 100%;
	    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
	    left: -100%;
		transition: all 0.75s ease 0s;
	}
	.inner{
		justify-content: space-between;
	}
	.header-burger__menu.open-menu span{
		opacity: 0; 
    	transition: 0.4s;
	}
	.header-burger__menu.open-menu:before{
		transform: rotate(45deg);
	    top: 24px;
	    transition: 0.5s;
	}
	.header-burger__menu.open-menu:after{
		transform: rotate(-45deg);
	    top: 24px;
	    transition: 0.5s;
	}
	.header__nav-menu{
		display: block;
		text-align: right;
	}
	.header__nav-menu-item-dash{
		display: none;
	}
	.header__nav-menu-item{
		margin: 30px 50px 30px 0px;
   		font-size: 14px;
   		display: block;
   		font-family: ProximaNova;
		font-size: 16px;
	}
	.header__nav.open-menu{
    	left: 0;
	}
	.header-phone-request{
		padding-right: 50px;
		flex-wrap: wrap;
	}
}
